body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  font-size: 30px;
}

#sidebar {
  background-color: #ff838b;
  width:100px;
  height:300px;
  text-align: center;
}

#content {
  background-color: #b3d874;
  width:250px;
  height:300px;
  text-align: center;
  margin-left: 10px;
}

#timer {
  font-size: 30px;
}

#addButton {
  text-align: center;
}

#enseiTitle {
  font-size: 20px;
  text-align: center;
  background-color: aqua;
}

#nyukyoTitle {
  font-size: 20px;
  text-align: center;
  background-color: chartreuse;
} 

#kenzouTitle {
  font-size: 20px;
  text-align: center;
  background-color: darkred;
}

#enseiCounter {
  padding: 1px;
  text-align: center;
  background-color:#ddd;
}

#nyukyoCounter {
  padding: 1px;
  text-align: center;
  background-color: #ddd;
}

#kenzouCounter {
  padding: 1px;
  text-align: center;
  background-color: #ddd;
}

#enseiListDiv {
  text-align: center;
}

#enseiList {
  padding-left: 0;
	list-style: none;
	display: inline-block;
}

#enseiArea {
  list-style: circle;
  list-style: none;
  text-align: center;
}

#enseiAreaElem {
  text-align: left;
  cursor: pointer;
}

#ensei {
  border-top: 5px;
  text-align: left;
  cursor: pointer;
}