#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction:column;
  background-color: #3b627a;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header{
  font-size: 40px;
  height: 60px;
  padding-left: 20px;
  background-color: #497997;
  box-sizing:border-box;
}

#main{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  background-color: #3b627a;
}

.Sidebar{
  height: 100vh;
  width: 250px;
  background-color: #2d445d;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList #active {
  background-color:#3b627a;
}

.SidebarList .row{
  width: 100%;
  height: 60px;
/*   background-color: rgb; */
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #3b627a;
}

#title {
  font-size: 20px;
}

.content{
  width: 100vw;
  display:flex;
  flex-direction: row;
  flex-grow: 1;
}

#timer {
  font-size: 30px;
}

#addButton {
  text-align: center;
}

#enseiTitle {
  padding:2px;
  padding-top: 10px;
  writing-mode:vertical-rl;
  font-size: 20px;
  background-color: #3b627a;
  color:aqua;
}

#nyukyoTitle {
  padding:2px;
  padding-top: 10px;
  writing-mode:vertical-rl;
  font-size: 20px;
  background-color: #3b627a;
  color:chartreuse;
} 

#kenzouTitle {
  padding:2px;
  padding-top: 10px;
  writing-mode:vertical-rl;
  font-size: 20px;
  background-color: #3b627a;
  color:crimson;
}

#enseiCounter {
  padding: 20px;
  width: 22vw;
  font-size: 20px;
  text-align: center;
  background-color:#2d445d;
}

#nyukyoCounter {
  padding: 20px;
  width: 22vw;
  font-size: 20px;
  text-align: center;
  background-color: #2d445d;
}

#kenzouCounter {
  padding: 20px;
  width: 22vw;
  font-size: 20px;
  text-align: center;
  background-color: #2d445d;
}

.EnseiCounter{
  padding: 10px;
}

#firstenseiCounter{
  border-bottom: 3px solid #3b627a;
}

#secondenseiCounter{
  border-bottom: 3px solid #3b627a;
}

.Counter{
  padding:10px;
}

#firstnyukyoCounter{
  border-bottom: 3px solid #3b627a;
}

#secondnyukyoCounter{
  border-bottom: 3px solid #3b627a;
}

#thirdnyukyoCounter{
  border-bottom: 3px solid #3b627a;
}

#firstkenzouCounter{
  border-bottom: 3px solid #3b627a;
}

#secondkenzouCounter{
  border-bottom: 3px solid #3b627a;
}

#thirdkenzouCounter{
  border-bottom: 3px solid #3b627a;
}

.enseiListDiv {
  text-align: center;
}

.enseiList {
  padding-left: 0;
	list-style: none;
	display: inline-block;
}

.enseiArea {
  list-style: circle;
  list-style: none;
  text-align: center;
}

.enseiAreaElem {
  text-align: left;
  cursor: pointer;
}

#ensei {
  border-top: 5px;
  text-align: left;
  cursor: pointer;
}